<p id="notice"><%= notice %></p>

<p>
  <strong>Fee:</strong>
  <%= @parking_ticket.fee %>
</p>

<p>
  <strong>Reporter:</strong>
  <%= @parking_ticket.reporter %>
</p>

<p>
  <strong>Description:</strong>
  <%= @parking_ticket.description %>
</p>

<p>
  <strong>Student:</strong>
  <%= @parking_ticket.student %>
</p>

<%= link_to 'Edit', edit_parking_ticket_path(@parking_ticket) %> |
<%= link_to 'Back', parking_tickets_path %>
